docs/04-n8n/workflows/2.0 - OOM SAKKIE - Amadeus Assistant Agent/workflow.json
{
  "updatedAt": "2026-05-23T00:00:00.000Z",
  "createdAt": "2025-11-29T16:06:58.891Z",
  "id": "6UscGE44eTfdLp1A",
  "name": "2.0 - OOM SAKKIE - Amadeus Assistant Agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "AMADEUS ASSISTANT AGENT",
        "height": 256,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        0
      ],
      "id": "73e71c8e-d5d2-4af3-a3cf-359d06216732",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "REPLAY AGENT",
        "height": 384,
        "width": 576,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "30898a34-c1a3-4a65-ac26-40f0fb861760",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -112,
        624
      ],
      "id": "d59502ad-0524-4c9e-8ada-772e700a0498",
      "name": "Brain ChatGPT",
      "credentials": {
        "openAiApi": {
          "id": "Lp7Z2HFOXfBCGvVg",
          "name": "OpenAi_Sales Agent"
        }
      }
    },
    {
      "parameters": {
        "content": "BRAIN:",
        "height": 192,
        "width": 176,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        560
      ],
      "typeVersion": 1,
      "id": "df74ec93-a52f-4c1f-9070-f44166033742",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "TOOLS",
        "height": 80,
        "width": 928,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        528,
        464
      ],
      "id": "41cd6618-be7d-45c2-bf66-9e73dc3d10df",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "MEMORY:",
        "height": 192,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        560
      ],
      "id": "8263cb3b-878c-43f8-9330-8c30d3828049",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User: {{ $json.user_name }}\nMessage: {{ $json.message_text }}",
        "options": {
          "systemMessage": "You are Amadeus Assistant, the main helper for Amadeus Farm.\n\nCURRENT TOOLS AVAILABLE\nYou have FOUR tools available:\n\n1) Weather_Info_Tool  \nUse this whenever the user asks anything about:\n- weather, temperature, rain, storms\n- wind, forecasts\n- mud, dryness, farming conditions\n- \"weather today\", \"nou\", \"vandag\"\n- planning work or visits affected by weather\n\n2) Sunsynk_Info_Tool  \nUse this whenever the user asks anything about:\n- electricity, power, solar, PV\n- battery, SOC, charging, discharging\n- grid usage, Eskom, generator\n- \"power now\", \"electricity today\"\n- \"how much grid today\", \"last 24h trend\"\n- \"are we running on solar\"\n- load, inverter, power situation\n\n3) Irrigation_Info_Tool\nUse this whenever the user asks anything about:\n- irrigation status, today's irrigation plan, or which zone is next\n- whether irrigation is running, idle, paused, skipped, or completed\n- recent irrigation events\n- zone plan status or planned minutes\n\nIRRIGATION SAFETY\n- Irrigation_Info_Tool is read-only.\n- It cannot start, stop, pause, resume, rebuild, or change irrigation.\n- If the user asks to control irrigation, use Irrigation_Info_Tool for status only, then say control requires a separate approved hardware-control path.\n\n4) Orders_Info_Tool\nUse this whenever the user asks anything about internal order lookup:\n- order status or order summary\n- quote or invoice records for an order\n- finding an order by order ID, customer name, customer phone, or conversation ID\n- \"show order ORD-...\", \"find order for ...\", \"what documents are on this order\"\n\nORDERS SAFETY\n\nQUOTE-SEND PREPARATION HARD RULE\n- If the user asks to prepare, send, resend, or show quote-send buttons for an order, you MUST call Orders_Info_Tool every time.\n- Do not answer quote-send preparation requests from memory.\n- Do not say buttons were prepared unless Orders_Info_Tool was called in the current message.\n- Repeated quote-send preparation requests for the same order still require a fresh Orders_Info_Tool call.\n\n- Orders_Info_Tool is read-only in this phase.\n- It may find orders, summarize orders, and list quote/invoice records.\n- It must NOT approve, reject, cancel, reserve, release, complete, generate, or send customer documents.\n- If the user asks to send a quote, use Orders_Info_Tool to prepare the send confirmation buttons only. Do not claim a document was sent unless a confirmed button callback/backend result later says it was sent. For other order write actions, say that this needs a separate confirmed workflow step and do not claim it was done.\n\nHOW TO WORK\n1. Read the user's message.\n2. Decide which tool is relevant.\n3. CALL THE CORRECT TOOL.\n4. The tool will return a COMPLETE, USER-READY answer.\n5. Your FINAL reply must be EXACTLY the tool's output.\n   - Do NOT rephrase.\n   - Do NOT summarise.\n   - Do NOT add interpretation.\n   - Do NOT mix tool outputs.\n\nWHEN NOT TO USE A TOOL\n- If the message is pure small talk (\"Hi\", \"Hello\", \"What can you do?\")\n- Respond briefly and invite a weather, power, irrigation, or order lookup question.\n\nLANGUAGE\n- Always reply in the same language as the user (Afrikaans or English).\n\nSTRICT RULES\n- Never invent data.\n- Never guess.\n- Never combine tools in one answer.\n- Never mention tools, workflows, Google Sheets or systems.\n- Never remove hyperlinks or links; keep them as they are.",
          "passthroughBinaryImages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        336,
        80
      ],
      "id": "72c9cceb-9656-403d-baea-6f0fe162ff5e",
      "name": "AI Assistant Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Assistant Draft: {{ $json.output }}",
        "options": {
          "systemMessage": "You are Amadeus Reply Formatter.\n\nINPUT\n- You receive a message that already contains a COMPLETE and FACTUALLY CORRECT answer\n  generated by Amadeus' internal tools.\n- This text is in the field you see as the user message.\n\nYOUR JOB\n- Lightly clean up formatting for Telegram (line breaks, bullet points).\n- Keep the language the SAME as the input (Afrikaans stays Afrikaans, English stays English).\n- Make it easy to read, but DO NOT change the facts.\n\nSTRICT RULES\n- Do NOT change any numbers, dates, times, links, hyperlinks or measurements.\n- Do NOT add new information or guesses.\n- Do NOT remove important disclaimers (for example, notes about last measurement time).\n- You may:\n  \u2022 add or fix bullet points\n  \u2022 split long paragraphs\n  \u2022 correct obvious typos\n\nENDING\n- End with exactly ONE short, friendly follow-up question, for example:\n  \u2022 \u201cIs there anything else you\u2019d like to know?\u201d\n  \u2022 \u201cWil jy nog iets oor die weer weet?\u201d\n\nOUTPUT\n- Return only the final message text to send to the user."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        928,
        80
      ],
      "id": "2ea5259e-5d56-447b-b8dd-794b8683fa44",
      "name": "AI Replay Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        928,
        272
      ],
      "id": "c59e7c42-efd6-4d65-893f-6028b62fc2a6",
      "name": "Replay ChatGPT",
      "credentials": {
        "openAiApi": {
          "id": "Lp7Z2HFOXfBCGvVg",
          "name": "OpenAi_Sales Agent"
        }
      }
    },
    {
      "parameters": {
        "content": "SUB-AGENTS FOR INFO",
        "height": 192,
        "width": 928,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        528,
        560
      ],
      "id": "f4ef4ee2-a4cb-4f9c-b8a7-b65f4df465f7",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.user_id }}\n",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        96,
        624
      ],
      "id": "af14d79c-f2b5-4230-82c9-d0d6e9c58917",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Use this tool whenever the user asks anything related to weather at the farm. This includes current weather, rain, wind, temperature, storms, sunshine, forecasts, farming conditions, or how weather will affect visits, piglets, animals, crops, irrigation, or farm operations. The tool reads backend/Supabase current weather and forecast endpoints and returns a complete user-ready answer.",
        "workflowId": {
          "__rl": true,
          "value": "L4c34rFmN0kUJvWc",
          "mode": "list",
          "cachedResultUrl": "/workflow/L4c34rFmN0kUJvWc",
          "cachedResultName": "My project \u2014 2.1 - Amadeus Weather Sub-Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ $json.message_text || $fromAI('weather_question', 'The user weather question to answer. Use the exact user request where possible, for example current weather, rain today, wind, tomorrow forecast, or weekend forecast.', 'string') || 'current weather at the farm' }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        576,
        624
      ],
      "id": "42ebacc8-6a2b-48d8-9b70-1d7979147c34",
      "name": "Weather_Info_Tool"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.user_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        80
      ],
      "id": "684e0f1f-18ed-4116-ad01-b7549524ad6e",
      "name": "Send Replay",
      "webhookId": "43d79297-3f7b-4852-826e-ef5a682fb523",
      "credentials": {
        "telegramApi": {
          "id": "e5jS1ondryiauRNX",
          "name": "Telegram - Oom Sakkie"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this tool whenever the user asks about electricity or power on Amadeus Farm: battery/SOC, solar/PV, grid/Eskom, generator, inverter/load, charging/discharging, current power status, or recent/last-24h power profile. The tool reads backend Supabase power endpoints and returns a complete user-ready answer. It supports current state and sample-based recent trend/profile answers. It does not yet confirm kWh, cost, import, or export totals until approved energy counters or interval-integration rules are added.",
        "workflowId": {
          "__rl": true,
          "value": "tKVKoCcxhT7CAydT",
          "mode": "list",
          "cachedResultUrl": "/workflow/tKVKoCcxhT7CAydT",
          "cachedResultName": "My project \u2014 2.2 - Amadeus Sunsynk Sub-Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ $fromAI('sunsynk_question', 'The user electricity, solar, battery, grid, generator, PV, inverter, or power question to answer. Use the exact user request where possible.', 'string') || $json.message_text || 'current power status at the farm' }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        736,
        624
      ],
      "id": "271171a7-ad66-493f-8683-35562bd78821",
      "name": "Sunsynk_Info_Tool"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id"
            },
            {
              "name": "message_text"
            },
            {
              "name": "timestamp"
            },
            {
              "name": "user_name"
            },
            {
              "name": "message_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        80
      ],
      "id": "69844104-1461-4de1-b8c5-0b9641841c1d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "TRIGGERS",
        "height": 256,
        "width": 208,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "c2cb0fcc-8e26-4863-8822-7467010466d8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "description": "Use this tool for internal order lookup and guarded quote-send preparation for Amadeus Farm. Use it when the user asks to find an order, check order status, summarize an order, list quote/invoice document records, or prepare a latest quote send button. Quote send preparation may show Telegram buttons, but this tool must not send documents. Actual document sending is handled only by the separate callback workflow and backend confirmed-send endpoint.",
        "workflowId": {
          "__rl": true,
          "value": "1VNdetSbgP0ffNyH",
          "mode": "list",
          "cachedResultUrl": "/workflow/1VNdetSbgP0ffNyH",
          "cachedResultName": "My project \u2014 2.4.4 - Order Lookup Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ $json.message_text }}",
            "telegram_chat_id": "={{ $json.user_id }}",
            "telegram_user_id": "={{ $json.user_id }}",
            "telegram_user_name": "={{ $json.user_name }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telegram_user_id",
              "displayName": "telegram_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telegram_user_name",
              "displayName": "telegram_user_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        896,
        624
      ],
      "id": "84e44431-b791-4b29-88c1-ca2df54e203d",
      "name": "Orders_Info_Tool"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.output}}",
                    "rightValue": "__NO_TELEGRAM_REPLY__",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "885aabfa-c437-44ca-954a-1b929a1d1f1c"
                  },
                  {
                    "leftValue": "={{$json.output}}",
                    "rightValue": "quote send",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "4f3360d3-74ec-4c49-82ea-0d22e4bf0f4a"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Suppress Reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.output}}",
                    "rightValue": "__NO_TELEGRAM_REPLY__",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "0138853b-7692-4c0a-bbd3-f6a50c6bdaf2"
                  },
                  {
                    "leftValue": "={{$json.output}}",
                    "rightValue": "quote send",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    },
                    "id": "dedf90f5-0ea4-4431-a036-c45257a35631"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Send Reply"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        640,
        80
      ],
      "id": "8f484f48-342c-4456-ba58-a7ffe8cb7f84",
      "name": "Switch - Suppress Direct Tool Reply"
    },
    {
      "parameters": {
        "description": "Use this tool whenever the user asks about irrigation status, today's irrigation plan, which zone is next, whether irrigation is running, paused, skipped, completed, or what recent irrigation events happened. This tool is read-only and cannot start, stop, pause, resume, rebuild, or change irrigation.",
        "workflowId": {
          "__rl": true,
          "value": "rG7mN4pQ8sT2uV6w",
          "mode": "list",
          "cachedResultUrl": "/workflow/rG7mN4pQ8sT2uV6w",
          "cachedResultName": "My project ? 2.3.3 - Irrigation Status Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ $fromAI('irrigation_question', 'The user irrigation status, plan, zone, running, paused, skipped, completed, or recent irrigation event question to answer. Use the exact user request where possible.', 'string') || $json.message_text || 'irrigation status at the farm' }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1056,
        624
      ],
      "id": "07aa6e44-4a7f-42e8-a3d6-4566bc3b9310",
      "name": "Irrigation_Info_Tool"
    }
  ],
  "connections": {
    "Brain ChatGPT": {
      "ai_languageModel": [
        [
          {
            "node": "AI Assistant Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Assistant Agent": {
      "main": [
        [
          {
            "node": "Switch - Suppress Direct Tool Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replay ChatGPT": {
      "ai_languageModel": [
        [
          {
            "node": "AI Replay Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Replay Agent": {
      "main": [
        [
          {
            "node": "Send Replay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather_Info_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sunsynk_Info_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Assistant Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orders_Info_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Suppress Direct Tool Reply": {
      "main": [
        [],
        [
          {
            "node": "AI Replay Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Irrigation_Info_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "user_id": "5721652188",
          "message_text": "Whats the weather like today?",
          "timestamp": "2025-12-29T22:51:50.516+02:00",
          "user_name": "Charl",
          "message_id": "525"
        }
      }
    ]
  },
  "versionId": "ec384fb9-e7f9-4045-8e8c-fc1c50d5e392",
  "activeVersionId": "ec384fb9-e7f9-4045-8e8c-fc1c50d5e392",
  "versionCounter": 345,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-29T16:06:58.894Z",
      "createdAt": "2025-11-29T16:06:58.894Z",
      "role": "workflow:owner",
      "workflowId": "6UscGE44eTfdLp1A",
      "projectId": "dUeH9AUxBtKxgNPX",
      "project": {
        "updatedAt": "2025-07-13T13:07:42.154Z",
        "createdAt": "2025-07-13T13:07:42.154Z",
        "id": "dUeH9AUxBtKxgNPX",
        "name": "My project",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "description": null,
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-23T00:00:00.000Z",
    "createdAt": "2026-05-18T07:11:21.412Z",
    "versionId": "ec384fb9-e7f9-4045-8e8c-fc1c50d5e392",
    "workflowId": "6UscGE44eTfdLp1A",
    "nodes": [
      {
        "parameters": {
          "content": "AMADEUS ASSISTANT AGENT",
          "height": 256,
          "width": 560
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          288,
          0
        ],
        "id": "73e71c8e-d5d2-4af3-a3cf-359d06216732",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "REPLAY AGENT",
          "height": 384,
          "width": 576,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          896,
          0
        ],
        "id": "30898a34-c1a3-4a65-ac26-40f0fb861760",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -112,
          624
        ],
        "id": "d59502ad-0524-4c9e-8ada-772e700a0498",
        "name": "Brain ChatGPT",
        "credentials": {
          "openAiApi": {
            "id": "Lp7Z2HFOXfBCGvVg",
            "name": "OpenAi_Sales Agent"
          }
        }
      },
      {
        "parameters": {
          "content": "BRAIN:",
          "height": 192,
          "width": 176,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -160,
          560
        ],
        "typeVersion": 1,
        "id": "df74ec93-a52f-4c1f-9070-f44166033742",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "TOOLS",
          "height": 80,
          "width": 928,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          528,
          464
        ],
        "id": "41cd6618-be7d-45c2-bf66-9e73dc3d10df",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "MEMORY:",
          "height": 192,
          "width": 464,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          48,
          560
        ],
        "id": "8263cb3b-878c-43f8-9330-8c30d3828049",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=User: {{ $json.user_name }}\nMessage: {{ $json.message_text }}",
          "options": {
            "systemMessage": "You are Amadeus Assistant, the main helper for Amadeus Farm.\n\nCURRENT TOOLS AVAILABLE\nYou have FOUR tools available:\n\n1) Weather_Info_Tool  \nUse this whenever the user asks anything about:\n- weather, temperature, rain, storms\n- wind, forecasts\n- mud, dryness, farming conditions\n- \"weather today\", \"nou\", \"vandag\"\n- planning work or visits affected by weather\n\n2) Sunsynk_Info_Tool  \nUse this whenever the user asks anything about:\n- electricity, power, solar, PV\n- battery, SOC, charging, discharging\n- grid usage, Eskom, generator\n- \"power now\", \"electricity today\"\n- \"how much grid today\", \"last 24h trend\"\n- \"are we running on solar\"\n- load, inverter, power situation\n\n3) Irrigation_Info_Tool\nUse this whenever the user asks anything about:\n- irrigation status, today's irrigation plan, or which zone is next\n- whether irrigation is running, idle, paused, skipped, or completed\n- recent irrigation events\n- zone plan status or planned minutes\n\nIRRIGATION SAFETY\n- Irrigation_Info_Tool is read-only.\n- It cannot start, stop, pause, resume, rebuild, or change irrigation.\n- If the user asks to control irrigation, use Irrigation_Info_Tool for status only, then say control requires a separate approved hardware-control path.\n\n4) Orders_Info_Tool\nUse this whenever the user asks anything about internal order lookup:\n- order status or order summary\n- quote or invoice records for an order\n- finding an order by order ID, customer name, customer phone, or conversation ID\n- \"show order ORD-...\", \"find order for ...\", \"what documents are on this order\"\n\nORDERS SAFETY\n\nQUOTE-SEND PREPARATION HARD RULE\n- If the user asks to prepare, send, resend, or show quote-send buttons for an order, you MUST call Orders_Info_Tool every time.\n- Do not answer quote-send preparation requests from memory.\n- Do not say buttons were prepared unless Orders_Info_Tool was called in the current message.\n- Repeated quote-send preparation requests for the same order still require a fresh Orders_Info_Tool call.\n\n- Orders_Info_Tool is read-only in this phase.\n- It may find orders, summarize orders, and list quote/invoice records.\n- It must NOT approve, reject, cancel, reserve, release, complete, generate, or send customer documents.\n- If the user asks to send a quote, use Orders_Info_Tool to prepare the send confirmation buttons only. Do not claim a document was sent unless a confirmed button callback/backend result later says it was sent. For other order write actions, say that this needs a separate confirmed workflow step and do not claim it was done.\n\nHOW TO WORK\n1. Read the user's message.\n2. Decide which tool is relevant.\n3. CALL THE CORRECT TOOL.\n4. The tool will return a COMPLETE, USER-READY answer.\n5. Your FINAL reply must be EXACTLY the tool's output.\n   - Do NOT rephrase.\n   - Do NOT summarise.\n   - Do NOT add interpretation.\n   - Do NOT mix tool outputs.\n\nWHEN NOT TO USE A TOOL\n- If the message is pure small talk (\"Hi\", \"Hello\", \"What can you do?\")\n- Respond briefly and invite a weather, power, irrigation, or order lookup question.\n\nLANGUAGE\n- Always reply in the same language as the user (Afrikaans or English).\n\nSTRICT RULES\n- Never invent data.\n- Never guess.\n- Never combine tools in one answer.\n- Never mention tools, workflows, Google Sheets or systems.\n- Never remove hyperlinks or links; keep them as they are.",
            "passthroughBinaryImages": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          336,
          80
        ],
        "id": "72c9cceb-9656-403d-baea-6f0fe162ff5e",
        "name": "AI Assistant Agent"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Assistant Draft: {{ $json.output }}",
          "options": {
            "systemMessage": "You are Amadeus Reply Formatter.\n\nINPUT\n- You receive a message that already contains a COMPLETE and FACTUALLY CORRECT answer\n  generated by Amadeus' internal tools.\n- This text is in the field you see as the user message.\n\nYOUR JOB\n- Lightly clean up formatting for Telegram (line breaks, bullet points).\n- Keep the language the SAME as the input (Afrikaans stays Afrikaans, English stays English).\n- Make it easy to read, but DO NOT change the facts.\n\nSTRICT RULES\n- Do NOT change any numbers, dates, times, links, hyperlinks or measurements.\n- Do NOT add new information or guesses.\n- Do NOT remove important disclaimers (for example, notes about last measurement time).\n- You may:\n  \u2022 add or fix bullet points\n  \u2022 split long paragraphs\n  \u2022 correct obvious typos\n\nENDING\n- End with exactly ONE short, friendly follow-up question, for example:\n  \u2022 \u201cIs there anything else you\u2019d like to know?\u201d\n  \u2022 \u201cWil jy nog iets oor die weer weet?\u201d\n\nOUTPUT\n- Return only the final message text to send to the user."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          928,
          80
        ],
        "id": "2ea5259e-5d56-447b-b8dd-794b8683fa44",
        "name": "AI Replay Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          928,
          272
        ],
        "id": "c59e7c42-efd6-4d65-893f-6028b62fc2a6",
        "name": "Replay ChatGPT",
        "credentials": {
          "openAiApi": {
            "id": "Lp7Z2HFOXfBCGvVg",
            "name": "OpenAi_Sales Agent"
          }
        }
      },
      {
        "parameters": {
          "content": "SUB-AGENTS FOR INFO",
          "height": 192,
          "width": 928,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          528,
          560
        ],
        "id": "f4ef4ee2-a4cb-4f9c-b8a7-b65f4df465f7",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.user_id }}\n",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          96,
          624
        ],
        "id": "af14d79c-f2b5-4230-82c9-d0d6e9c58917",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "description": "Use this tool whenever the user asks anything related to weather at the farm. This includes current weather, rain, wind, temperature, storms, sunshine, forecasts, farming conditions, or how weather will affect visits, piglets, animals, crops, irrigation, or farm operations. The tool reads backend/Supabase current weather and forecast endpoints and returns a complete user-ready answer.",
          "workflowId": {
            "__rl": true,
            "value": "L4c34rFmN0kUJvWc",
            "mode": "list",
            "cachedResultUrl": "/workflow/L4c34rFmN0kUJvWc",
            "cachedResultName": "My project \u2014 2.1 - Amadeus Weather Sub-Agent"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "input": "={{ $json.message_text || $fromAI('weather_question', 'The user weather question to answer. Use the exact user request where possible, for example current weather, rain today, wind, tomorrow forecast, or weekend forecast.', 'string') || 'current weather at the farm' }}"
            },
            "matchingColumns": [
              "input"
            ],
            "schema": [
              {
                "id": "input",
                "displayName": "input",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          576,
          624
        ],
        "id": "42ebacc8-6a2b-48d8-9b70-1d7979147c34",
        "name": "Weather_Info_Tool"
      },
      {
        "parameters": {
          "chatId": "={{ $('When Executed by Another Workflow').item.json.user_id }}",
          "text": "={{ $json.output }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1264,
          80
        ],
        "id": "684e0f1f-18ed-4116-ad01-b7549524ad6e",
        "name": "Send Replay",
        "webhookId": "43d79297-3f7b-4852-826e-ef5a682fb523",
        "credentials": {
          "telegramApi": {
            "id": "e5jS1ondryiauRNX",
            "name": "Telegram - Oom Sakkie"
          }
        }
      },
      {
        "parameters": {
          "description": "Use this tool whenever the user asks about electricity or power on Amadeus Farm: battery/SOC, solar/PV, grid/Eskom, generator, inverter/load, charging/discharging, current power status, or recent/last-24h power profile. The tool reads backend Supabase power endpoints and returns a complete user-ready answer. It supports current state and sample-based recent trend/profile answers. It does not yet confirm kWh, cost, import, or export totals until approved energy counters or interval-integration rules are added.",
          "workflowId": {
            "__rl": true,
            "value": "tKVKoCcxhT7CAydT",
            "mode": "list",
            "cachedResultUrl": "/workflow/tKVKoCcxhT7CAydT",
            "cachedResultName": "My project \u2014 2.2 - Amadeus Sunsynk Sub-Agent"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "input": "={{ $fromAI('sunsynk_question', 'The user electricity, solar, battery, grid, generator, PV, inverter, or power question to answer. Use the exact user request where possible.', 'string') || $json.message_text || 'current power status at the farm' }}"
            },
            "matchingColumns": [
              "input"
            ],
            "schema": [
              {
                "id": "input",
                "displayName": "input",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          736,
          624
        ],
        "id": "271171a7-ad66-493f-8683-35562bd78821",
        "name": "Sunsynk_Info_Tool"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "user_id"
              },
              {
                "name": "message_text"
              },
              {
                "name": "timestamp"
              },
              {
                "name": "user_name"
              },
              {
                "name": "message_id"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          48,
          80
        ],
        "id": "69844104-1461-4de1-b8c5-0b9641841c1d",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "content": "TRIGGERS",
          "height": 256,
          "width": 208,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "c2cb0fcc-8e26-4863-8822-7467010466d8",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "description": "Use this tool for internal order lookup and guarded quote-send preparation for Amadeus Farm. Use it when the user asks to find an order, check order status, summarize an order, list quote/invoice document records, or prepare a latest quote send button. Quote send preparation may show Telegram buttons, but this tool must not send documents. Actual document sending is handled only by the separate callback workflow and backend confirmed-send endpoint.",
          "workflowId": {
            "__rl": true,
            "value": "1VNdetSbgP0ffNyH",
            "mode": "list",
            "cachedResultUrl": "/workflow/1VNdetSbgP0ffNyH",
            "cachedResultName": "My project \u2014 2.4.4 - Order Lookup Tool"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "input": "={{ $json.message_text }}",
              "telegram_chat_id": "={{ $json.user_id }}",
              "telegram_user_id": "={{ $json.user_id }}",
              "telegram_user_name": "={{ $json.user_name }}"
            },
            "matchingColumns": [
              "input"
            ],
            "schema": [
              {
                "id": "input",
                "displayName": "input",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telegram_chat_id",
                "displayName": "telegram_chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telegram_user_id",
                "displayName": "telegram_user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telegram_user_name",
                "displayName": "telegram_user_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          896,
          624
        ],
        "id": "84e44431-b791-4b29-88c1-ca2df54e203d",
        "name": "Orders_Info_Tool"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$json.output}}",
                      "rightValue": "__NO_TELEGRAM_REPLY__",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "885aabfa-c437-44ca-954a-1b929a1d1f1c"
                    },
                    {
                      "leftValue": "={{$json.output}}",
                      "rightValue": "quote send",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      },
                      "id": "4f3360d3-74ec-4c49-82ea-0d22e4bf0f4a"
                    }
                  ],
                  "combinator": "or"
                },
                "renameOutput": true,
                "outputKey": "Suppress Reply"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$json.output}}",
                      "rightValue": "__NO_TELEGRAM_REPLY__",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      },
                      "id": "0138853b-7692-4c0a-bbd3-f6a50c6bdaf2"
                    },
                    {
                      "leftValue": "={{$json.output}}",
                      "rightValue": "quote send",
                      "operator": {
                        "type": "string",
                        "operation": "notContains"
                      },
                      "id": "dedf90f5-0ea4-4431-a036-c45257a35631"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Send Reply"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          640,
          80
        ],
        "id": "8f484f48-342c-4456-ba58-a7ffe8cb7f84",
        "name": "Switch - Suppress Direct Tool Reply"
      },
      {
        "parameters": {
          "description": "Use this tool whenever the user asks about irrigation status, today's irrigation plan, which zone is next, whether irrigation is running, paused, skipped, completed, or what recent irrigation events happened. This tool is read-only and cannot start, stop, pause, resume, rebuild, or change irrigation.",
          "workflowId": {
            "__rl": true,
            "value": "rG7mN4pQ8sT2uV6w",
            "mode": "list",
            "cachedResultUrl": "/workflow/rG7mN4pQ8sT2uV6w",
            "cachedResultName": "My project ? 2.3.3 - Irrigation Status Tool"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "input": "={{ $fromAI('irrigation_question', 'The user irrigation status, plan, zone, running, paused, skipped, completed, or recent irrigation event question to answer. Use the exact user request where possible.', 'string') || $json.message_text || 'irrigation status at the farm' }}"
            },
            "matchingColumns": [
              "input"
            ],
            "schema": [
              {
                "id": "input",
                "displayName": "input",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1056,
          624
        ],
        "id": "07aa6e44-4a7f-42e8-a3d6-4566bc3b9310",
        "name": "Irrigation_Info_Tool"
      }
    ],
    "connections": {
      "Brain ChatGPT": {
        "ai_languageModel": [
          [
            {
              "node": "AI Assistant Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Assistant Agent": {
        "main": [
          [
            {
              "node": "Switch - Suppress Direct Tool Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Replay ChatGPT": {
        "ai_languageModel": [
          [
            {
              "node": "AI Replay Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Replay Agent": {
        "main": [
          [
            {
              "node": "Send Replay",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Weather_Info_Tool": {
        "ai_tool": [
          [
            {
              "node": "AI Assistant Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Sunsynk_Info_Tool": {
        "ai_tool": [
          [
            {
              "node": "AI Assistant Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "AI Assistant Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Orders_Info_Tool": {
        "ai_tool": [
          [
            {
              "node": "AI Assistant Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Switch - Suppress Direct Tool Reply": {
        "main": [
          [],
          [
            {
              "node": "AI Replay Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Irrigation_Info_Tool": {
        "ai_tool": [
          [
            {
              "node": "AI Assistant Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Charl Nieuwendyk",
    "name": "Version ec384fb9",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-18T07:11:26.294Z",
        "id": 749,
        "workflowId": "6UscGE44eTfdLp1A",
        "versionId": "ec384fb9-e7f9-4045-8e8c-fc1c50d5e392",
        "event": "activated",
        "userId": "8691148d-2442-4b8d-b051-2cffc74988b1"
      }
    ]
  }
}
