docs/04-n8n/workflows/2.1 - Amadeus Weather Sub-Agent/workflow.json
{
  "updatedAt": "2025-12-31T14:27:57.000Z",
  "createdAt": "2025-11-29T22:22:22.781Z",
  "id": "L4c34rFmN0kUJvWc",
  "name": "2.1 - Amadeus Weather Sub-Agent",
  "description": "Deterministic backend weather worker for Oom Sakkie. Reads Supabase-backed weather current and forecast endpoints.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "input"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -420,
        -40
      ],
      "id": "89df68e9-3580-4252-bffa-1c6c3c774209",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "function clean(value) {\n  if (value === null || value === undefined) return \"\";\n  return String(value).trim();\n}\n\nconst inputItem = $json || {};\nconst question = clean(inputItem.input || inputItem.question || inputItem.message || inputItem.text || inputItem.chatInput || inputItem.prompt || \"current weather at the farm\");\nconst q = question.toLowerCase();\n\nconst asksForecast = /\\b(forecast|tomorrow|morrow|weekend|next\\s+(day|few|week)|next\\s*3|coming|later|will it rain|gaan dit reen|reen later|rain expected|weather ahead|vooruitsig|vooruitsigte)\\b/i.test(q);\nconst asksToday = /\\b(today|vandag|daily|day summary|summary today|rain today|rained today|weather today|wind today|temperature today|how much rain|rain total|reen vandag|hoeveel reen)\\b/i.test(q) || /\\bwhat happened\\b.*\\btoday\\b/i.test(q) || /\\btoday\\b.*\\bwhat happened\\b/i.test(q);\nconst asksCurrent = /\\b(now|current|right now|nou|huidig|temperature now|wind now|raining now|is it raining|weather now|weather like now)\\b/i.test(q);\n\nlet queryType = \"current\";\nif (asksForecast && !asksCurrent && !asksToday) {\n  queryType = \"forecast\";\n} else if (asksToday && !asksCurrent) {\n  queryType = \"today\";\n}\n\nconst requestUrl = queryType === \"forecast\"\n  ? \"https://amadeus-pig-tracking-system.onrender.com/api/telemetry/weather/forecast?days=3\"\n  : queryType === \"today\"\n    ? \"https://amadeus-pig-tracking-system.onrender.com/api/telemetry/weather/today\"\n    : \"https://amadeus-pig-tracking-system.onrender.com/api/telemetry/weather/current\";\n\nreturn [{\n  json: {\n    input: question,\n    query_type: queryType,\n    request_url: requestUrl,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -40
      ],
      "id": "b8a62f5f-8f50-4497-a8eb-4e8d9a0d8d91",
      "name": "Code - Route Weather Question"
    },
    {
      "parameters": {
        "url": "={{ $json.request_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "neverError": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        -40
      ],
      "id": "5eebbb79-fbc0-454f-8f95-8df034c5c23b",
      "name": "HTTP - Get Weather Data"
    },
    {
      "parameters": {
        "jsCode": "function clean(value) {\n  if (value === null || value === undefined) return \"\";\n  return String(value).trim();\n}\n\nfunction num(value) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed : null;\n}\n\nfunction fmt(value, suffix = \"\") {\n  const n = num(value);\n  if (n === null) return \"unknown\";\n  return `${Number.isInteger(n) ? n : Number(n.toFixed(1))}${suffix}`;\n}\n\nfunction formatDateTime(iso) {\n  if (!iso) return \"unknown\";\n  const d = new Date(iso);\n  if (Number.isNaN(d.getTime())) return iso;\n  return new Intl.DateTimeFormat(\"en-ZA\", {\n    timeZone: \"Africa/Johannesburg\",\n    year: \"numeric\",\n    month: \"short\",\n    day: \"2-digit\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    hour12: false,\n  }).format(d);\n}\n\nfunction formatDate(value) {\n  if (!value) return \"unknown date\";\n  const d = new Date(`${value}T12:00:00+02:00`);\n  if (Number.isNaN(d.getTime())) return value;\n  return new Intl.DateTimeFormat(\"en-ZA\", {\n    timeZone: \"Africa/Johannesburg\",\n    weekday: \"short\",\n    month: \"short\",\n    day: \"2-digit\",\n  }).format(d);\n}\n\nfunction sentence(value) {\n  return clean(value).replace(/\\s+/g, \" \");\n}\n\nconst route = $(\"Code - Route Weather Question\").first()?.json || {};\nconst question = clean(route.input || \"current weather at the farm\");\nconst queryType = clean(route.query_type || \"current\");\nconst data = $json || {};\nconst success = data.success === true && data.status === \"ok\";\nlet answer = \"\";\n\nif (!success) {\n  const reason = sentence(data.message || data.error || data.summary?.headline || \"The weather data is not available yet.\");\n  answer = `I could not read the weather data. ${reason}`;\n} else if (queryType === \"forecast\") {\n  const source = data.source || {};\n  const summary = data.summary || {};\n  const days = Array.isArray(data.days) ? data.days : [];\n  const lines = [];\n\n  lines.push(\"Weather forecast for Amadeus Farm:\");\n  lines.push(\"\");\n  if (summary.headline) lines.push(sentence(summary.headline));\n\n  for (const day of days) {\n    const flags = day.flags || {};\n    const cautions = [];\n    if (flags.rain_expected === true) cautions.push(\"rain possible\");\n    if (flags.strong_wind === true || flags.gust_risk === true) cautions.push(\"wind caution\");\n    if (flags.hot === true) cautions.push(\"hot\");\n    if (flags.cold === true) cautions.push(\"cold\");\n\n    lines.push(`- ${formatDate(day.forecast_date)}: ${fmt(day.temp_min_c, \" C\")} to ${fmt(day.temp_max_c, \" C\")}, rain ${fmt(day.rain_sum_mm, \" mm\")} (${fmt(day.rain_probability_max_pct, \"%\")}), wind max ${fmt(day.wind_max_kmh, \" km/h\")}, gusts ${fmt(day.gust_max_kmh, \" km/h\")}${cautions.length ? ` - ${cautions.join(\", \")}` : \"\"}.`);\n  }\n\n  lines.push(\"\");\n  lines.push(`Forecast updated: ${formatDateTime(source.last_forecast_run_at)} (${source.data_age_minutes ?? \"unknown\"} minutes old).`);\n  if (source.is_stale === true) lines.push(\"Warning: this forecast is stale, so treat it as the last known forecast.\");\n\n  answer = lines.join(\"\\n\");\n} else if (queryType === \"today\") {\n  const source = data.source || {};\n  const window = data.window || {};\n  const temperature = data.temperature || {};\n  const humidity = data.humidity || {};\n  const wind = data.wind || {};\n  const rain = data.rain || {};\n  const flags = data.flags || {};\n  const summary = data.summary || {};\n  const lines = [];\n\n  lines.push(\"Weather today at Amadeus Farm:\");\n  lines.push(\"\");\n  if (summary.headline) lines.push(sentence(summary.headline));\n  lines.push(`Readings: ${window.reading_count ?? \"unknown\"} (${window.coverage_pct ?? \"unknown\"}% coverage of expected 5-minute samples)`);\n  lines.push(`Temperature: ${fmt(temperature.min_c, \" C\")} to ${fmt(temperature.max_c, \" C\")}, average ${fmt(temperature.avg_c, \" C\")}`);\n  lines.push(`Humidity average: ${fmt(humidity.avg_pct, \"%\")}`);\n  lines.push(`Rain total: ${fmt(rain.total_mm, \" mm\")}`);\n  lines.push(`Max rain rate: ${fmt(rain.max_rate_mm_h, \" mm/h\")}`);\n  lines.push(`Max wind: ${fmt(wind.max_speed_kmh, \" km/h\")}, max gust ${fmt(wind.max_gust_kmh, \" km/h\")}`);\n  lines.push(\"\");\n  lines.push(`Window: ${formatDateTime(window.first_reading_at)} to ${formatDateTime(window.last_reading_at)}.`);\n\n  if (flags.rain_observed === true) lines.push(\"Note: rain was observed today.\");\n  if (flags.rain_today === true && flags.rain_observed !== true) lines.push(\"Note: rain total is showing for today.\");\n  if (flags.high_wind === true || flags.gust_risk === true) lines.push(\"Warning: wind caution showed today.\");\n  if (flags.irrigation_caution === true) lines.push(\"Irrigation caution is showing from today's weather rules.\");\n\n  answer = lines.join(\"\\n\");\n} else {\n  const source = data.source || {};\n  const current = data.current || {};\n  const flags = data.flags || {};\n  const summary = data.summary || {};\n  const lines = [];\n\n  lines.push(\"Current weather at Amadeus Farm:\");\n  lines.push(\"\");\n  if (summary.headline) lines.push(sentence(summary.headline));\n  lines.push(`Temperature: ${fmt(current.temperature_c, \" C\")}`);\n  lines.push(`Humidity: ${fmt(current.humidity_pct, \"%\")}`);\n  lines.push(`Wind: ${fmt(current.wind_speed_kmh, \" km/h\")} with gusts ${fmt(current.wind_gust_kmh, \" km/h\")}`);\n  lines.push(`Rain now: ${fmt(current.rain_rate_mm_h, \" mm/h\")}`);\n  lines.push(`Rain today: ${fmt(current.rain_today_mm, \" mm\")}`);\n  lines.push(`Pressure: ${fmt(current.pressure_hpa, \" hPa\")}`);\n  lines.push(\"\");\n  lines.push(`Latest reading: ${formatDateTime(source.last_reading_at)} (${source.data_age_minutes ?? \"unknown\"} minutes old).`);\n\n  if (source.is_stale === true || flags.station_stale === true) lines.push(\"Warning: this reading is stale, so treat it as the last known weather state.\");\n  if (flags.raining_now === true) lines.push(\"Note: it is raining now.\");\n  if (flags.rain_today === true && flags.raining_now !== true) lines.push(\"Note: rain has been recorded today.\");\n  if (flags.high_wind === true || flags.gust_risk === true) lines.push(\"Warning: wind caution is showing.\");\n  if (flags.irrigation_caution === true) lines.push(\"Irrigation caution is showing from the weather rules.\");\n\n  answer = lines.join(\"\\n\");\n}\n\nreturn [{\n  json: {\n    success,\n    input: question,\n    query_type: queryType,\n    answer,\n    output: answer,\n    weather_response: answer,\n    telemetry_source: queryType === \"forecast\" ? \"backend_supabase_weather_forecast\" : queryType === \"today\" ? \"backend_supabase_weather_today\" : \"backend_supabase_current_weather\",\n    backend_payload: data,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        -40
      ],
      "id": "54965a8d-5d25-46f1-a87e-0df92a8af803",
      "name": "Code - Format Weather Answer"
    },
    {
      "parameters": {
        "content": "Phase 10.3J: deterministic backend weather read. Routes current questions to /weather/current and forecast questions to /weather/forecast?days=3. No Google Sheets or LangChain nodes in this workflow.",
        "height": 180,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -420,
        -300
      ],
      "id": "93843df4-4d92-4ed7-bd60-239e7f1c90b5",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code - Route Weather Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Route Weather Question": {
      "main": [
        [
          {
            "node": "HTTP - Get Weather Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Weather Data": {
      "main": [
        [
          {
            "node": "Code - Format Weather Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format Weather Answer": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "input": "What is the weather like now?"
        }
      }
    ]
  },
  "versionId": "0b6a4a06-a426-412c-a112-c337a3cbec59",
  "activeVersionId": "0b6a4a06-a426-412c-a112-c337a3cbec59",
  "versionCounter": 216,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-29T22:22:22.784Z",
      "createdAt": "2025-11-29T22:22:22.784Z",
      "role": "workflow:owner",
      "workflowId": "L4c34rFmN0kUJvWc",
      "projectId": "dUeH9AUxBtKxgNPX",
      "project": {
        "updatedAt": "2025-07-13T13:07:42.154Z",
        "createdAt": "2025-07-13T13:07:42.154Z",
        "id": "dUeH9AUxBtKxgNPX",
        "name": "My project",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "description": null,
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-31T14:27:57.039Z",
    "createdAt": "2025-12-31T14:27:57.039Z",
    "versionId": "0b6a4a06-a426-412c-a112-c337a3cbec59",
    "workflowId": "L4c34rFmN0kUJvWc",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "input"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -420,
          -40
        ],
        "id": "89df68e9-3580-4252-bffa-1c6c3c774209",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "jsCode": "function clean(value) {\n  if (value === null || value === undefined) return \"\";\n  return String(value).trim();\n}\n\nconst inputItem = $json || {};\nconst question = clean(inputItem.input || inputItem.question || inputItem.message || inputItem.text || inputItem.chatInput || inputItem.prompt || \"current weather at the farm\");\nconst q = question.toLowerCase();\n\nconst asksForecast = /\\b(forecast|tomorrow|morrow|weekend|next\\s+(day|few|week)|next\\s*3|coming|later|will it rain|gaan dit reen|reen later|rain expected|weather ahead|vooruitsig|vooruitsigte)\\b/i.test(q);\nconst asksToday = /\\b(today|vandag|daily|day summary|summary today|rain today|rained today|weather today|wind today|temperature today|how much rain|rain total|reen vandag|hoeveel reen)\\b/i.test(q) || /\\bwhat happened\\b.*\\btoday\\b/i.test(q) || /\\btoday\\b.*\\bwhat happened\\b/i.test(q);\nconst asksCurrent = /\\b(now|current|right now|nou|huidig|temperature now|wind now|raining now|is it raining|weather now|weather like now)\\b/i.test(q);\n\nlet queryType = \"current\";\nif (asksForecast && !asksCurrent && !asksToday) {\n  queryType = \"forecast\";\n} else if (asksToday && !asksCurrent) {\n  queryType = \"today\";\n}\n\nconst requestUrl = queryType === \"forecast\"\n  ? \"https://amadeus-pig-tracking-system.onrender.com/api/telemetry/weather/forecast?days=3\"\n  : queryType === \"today\"\n    ? \"https://amadeus-pig-tracking-system.onrender.com/api/telemetry/weather/today\"\n    : \"https://amadeus-pig-tracking-system.onrender.com/api/telemetry/weather/current\";\n\nreturn [{\n  json: {\n    input: question,\n    query_type: queryType,\n    request_url: requestUrl,\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -160,
          -40
        ],
        "id": "b8a62f5f-8f50-4497-a8eb-4e8d9a0d8d91",
        "name": "Code - Route Weather Question"
      },
      {
        "parameters": {
          "url": "={{ $json.request_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "neverError": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          100,
          -40
        ],
        "id": "5eebbb79-fbc0-454f-8f95-8df034c5c23b",
        "name": "HTTP - Get Weather Data"
      },
      {
        "parameters": {
          "jsCode": "function clean(value) {\n  if (value === null || value === undefined) return \"\";\n  return String(value).trim();\n}\n\nfunction num(value) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed : null;\n}\n\nfunction fmt(value, suffix = \"\") {\n  const n = num(value);\n  if (n === null) return \"unknown\";\n  return `${Number.isInteger(n) ? n : Number(n.toFixed(1))}${suffix}`;\n}\n\nfunction formatDateTime(iso) {\n  if (!iso) return \"unknown\";\n  const d = new Date(iso);\n  if (Number.isNaN(d.getTime())) return iso;\n  return new Intl.DateTimeFormat(\"en-ZA\", {\n    timeZone: \"Africa/Johannesburg\",\n    year: \"numeric\",\n    month: \"short\",\n    day: \"2-digit\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    hour12: false,\n  }).format(d);\n}\n\nfunction formatDate(value) {\n  if (!value) return \"unknown date\";\n  const d = new Date(`${value}T12:00:00+02:00`);\n  if (Number.isNaN(d.getTime())) return value;\n  return new Intl.DateTimeFormat(\"en-ZA\", {\n    timeZone: \"Africa/Johannesburg\",\n    weekday: \"short\",\n    month: \"short\",\n    day: \"2-digit\",\n  }).format(d);\n}\n\nfunction sentence(value) {\n  return clean(value).replace(/\\s+/g, \" \");\n}\n\nconst route = $(\"Code - Route Weather Question\").first()?.json || {};\nconst question = clean(route.input || \"current weather at the farm\");\nconst queryType = clean(route.query_type || \"current\");\nconst data = $json || {};\nconst success = data.success === true && data.status === \"ok\";\nlet answer = \"\";\n\nif (!success) {\n  const reason = sentence(data.message || data.error || data.summary?.headline || \"The weather data is not available yet.\");\n  answer = `I could not read the weather data. ${reason}`;\n} else if (queryType === \"forecast\") {\n  const source = data.source || {};\n  const summary = data.summary || {};\n  const days = Array.isArray(data.days) ? data.days : [];\n  const lines = [];\n\n  lines.push(\"Weather forecast for Amadeus Farm:\");\n  lines.push(\"\");\n  if (summary.headline) lines.push(sentence(summary.headline));\n\n  for (const day of days) {\n    const flags = day.flags || {};\n    const cautions = [];\n    if (flags.rain_expected === true) cautions.push(\"rain possible\");\n    if (flags.strong_wind === true || flags.gust_risk === true) cautions.push(\"wind caution\");\n    if (flags.hot === true) cautions.push(\"hot\");\n    if (flags.cold === true) cautions.push(\"cold\");\n\n    lines.push(`- ${formatDate(day.forecast_date)}: ${fmt(day.temp_min_c, \" C\")} to ${fmt(day.temp_max_c, \" C\")}, rain ${fmt(day.rain_sum_mm, \" mm\")} (${fmt(day.rain_probability_max_pct, \"%\")}), wind max ${fmt(day.wind_max_kmh, \" km/h\")}, gusts ${fmt(day.gust_max_kmh, \" km/h\")}${cautions.length ? ` - ${cautions.join(\", \")}` : \"\"}.`);\n  }\n\n  lines.push(\"\");\n  lines.push(`Forecast updated: ${formatDateTime(source.last_forecast_run_at)} (${source.data_age_minutes ?? \"unknown\"} minutes old).`);\n  if (source.is_stale === true) lines.push(\"Warning: this forecast is stale, so treat it as the last known forecast.\");\n\n  answer = lines.join(\"\\n\");\n} else if (queryType === \"today\") {\n  const source = data.source || {};\n  const window = data.window || {};\n  const temperature = data.temperature || {};\n  const humidity = data.humidity || {};\n  const wind = data.wind || {};\n  const rain = data.rain || {};\n  const flags = data.flags || {};\n  const summary = data.summary || {};\n  const lines = [];\n\n  lines.push(\"Weather today at Amadeus Farm:\");\n  lines.push(\"\");\n  if (summary.headline) lines.push(sentence(summary.headline));\n  lines.push(`Readings: ${window.reading_count ?? \"unknown\"} (${window.coverage_pct ?? \"unknown\"}% coverage of expected 5-minute samples)`);\n  lines.push(`Temperature: ${fmt(temperature.min_c, \" C\")} to ${fmt(temperature.max_c, \" C\")}, average ${fmt(temperature.avg_c, \" C\")}`);\n  lines.push(`Humidity average: ${fmt(humidity.avg_pct, \"%\")}`);\n  lines.push(`Rain total: ${fmt(rain.total_mm, \" mm\")}`);\n  lines.push(`Max rain rate: ${fmt(rain.max_rate_mm_h, \" mm/h\")}`);\n  lines.push(`Max wind: ${fmt(wind.max_speed_kmh, \" km/h\")}, max gust ${fmt(wind.max_gust_kmh, \" km/h\")}`);\n  lines.push(\"\");\n  lines.push(`Window: ${formatDateTime(window.first_reading_at)} to ${formatDateTime(window.last_reading_at)}.`);\n\n  if (flags.rain_observed === true) lines.push(\"Note: rain was observed today.\");\n  if (flags.rain_today === true && flags.rain_observed !== true) lines.push(\"Note: rain total is showing for today.\");\n  if (flags.high_wind === true || flags.gust_risk === true) lines.push(\"Warning: wind caution showed today.\");\n  if (flags.irrigation_caution === true) lines.push(\"Irrigation caution is showing from today's weather rules.\");\n\n  answer = lines.join(\"\\n\");\n} else {\n  const source = data.source || {};\n  const current = data.current || {};\n  const flags = data.flags || {};\n  const summary = data.summary || {};\n  const lines = [];\n\n  lines.push(\"Current weather at Amadeus Farm:\");\n  lines.push(\"\");\n  if (summary.headline) lines.push(sentence(summary.headline));\n  lines.push(`Temperature: ${fmt(current.temperature_c, \" C\")}`);\n  lines.push(`Humidity: ${fmt(current.humidity_pct, \"%\")}`);\n  lines.push(`Wind: ${fmt(current.wind_speed_kmh, \" km/h\")} with gusts ${fmt(current.wind_gust_kmh, \" km/h\")}`);\n  lines.push(`Rain now: ${fmt(current.rain_rate_mm_h, \" mm/h\")}`);\n  lines.push(`Rain today: ${fmt(current.rain_today_mm, \" mm\")}`);\n  lines.push(`Pressure: ${fmt(current.pressure_hpa, \" hPa\")}`);\n  lines.push(\"\");\n  lines.push(`Latest reading: ${formatDateTime(source.last_reading_at)} (${source.data_age_minutes ?? \"unknown\"} minutes old).`);\n\n  if (source.is_stale === true || flags.station_stale === true) lines.push(\"Warning: this reading is stale, so treat it as the last known weather state.\");\n  if (flags.raining_now === true) lines.push(\"Note: it is raining now.\");\n  if (flags.rain_today === true && flags.raining_now !== true) lines.push(\"Note: rain has been recorded today.\");\n  if (flags.high_wind === true || flags.gust_risk === true) lines.push(\"Warning: wind caution is showing.\");\n  if (flags.irrigation_caution === true) lines.push(\"Irrigation caution is showing from the weather rules.\");\n\n  answer = lines.join(\"\\n\");\n}\n\nreturn [{\n  json: {\n    success,\n    input: question,\n    query_type: queryType,\n    answer,\n    output: answer,\n    weather_response: answer,\n    telemetry_source: queryType === \"forecast\" ? \"backend_supabase_weather_forecast\" : queryType === \"today\" ? \"backend_supabase_weather_today\" : \"backend_supabase_current_weather\",\n    backend_payload: data,\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          360,
          -40
        ],
        "id": "54965a8d-5d25-46f1-a87e-0df92a8af803",
        "name": "Code - Format Weather Answer"
      },
      {
        "parameters": {
          "content": "Phase 10.3J: deterministic backend weather read. Routes current questions to /weather/current and forecast questions to /weather/forecast?days=3. No Google Sheets or LangChain nodes in this workflow.",
          "height": 180,
          "width": 520,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -420,
          -300
        ],
        "id": "93843df4-4d92-4ed7-bd60-239e7f1c90b5",
        "name": "Sticky Note"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Code - Route Weather Question",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Route Weather Question": {
        "main": [
          [
            {
              "node": "HTTP - Get Weather Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP - Get Weather Data": {
        "main": [
          [
            {
              "node": "Code - Format Weather Answer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Format Weather Answer": {
        "main": [
          []
        ]
      }
    },
    "authors": "Charl Nieuwendyk",
    "name": null,
    "description": "Deterministic backend weather worker for Oom Sakkie. Reads Supabase-backed weather current and forecast endpoints.",
    "autosaved": false,
    "workflowPublishHistory": []
  }
}
