docs/04-n8n/workflows/1.4 - outbound-order-notification/workflow.json
{
  "name": "1.4 - Outbound Order Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-notification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook-Order-Notification",
      "name": "Webhook - Order Notification",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const input = $json.body || $json;\nconst allowed = new Set(['order_approved', 'order_rejected']);\nconst eventType = String(input.event_type || '').trim();\nconst conversationId = String(input.conversation_id || '').trim();\nconst messageText = String(input.message_text || '').trim();\nconst errors = [];\n\nif (!allowed.has(eventType)) errors.push('event_type must be order_approved or order_rejected');\nif (!conversationId) errors.push('conversation_id is required');\nif (!messageText) errors.push('message_text is required');\n\nreturn [{\n  json: {\n    valid: errors.length === 0,\n    errors,\n    event_type: eventType,\n    order_id: String(input.order_id || '').trim(),\n    conversation_id: conversationId,\n    message_text: messageText,\n    source_payload: input\n  }\n}];"
      },
      "id": "Code-Validate-Payload",
      "name": "Code - Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "payload-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "IF-Valid-Payload",
      "name": "IF - Valid Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CHATWOOT_BASE_URL + '/api/v1/accounts/' + $env.CHATWOOT_ACCOUNT_ID + '/conversations/' + $json.conversation_id + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $env.CHATWOOT_API_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"content\": $json.message_text, \"message_type\": \"outgoing\", \"private\": false}",
        "options": {}
      },
      "id": "HTTP-Chatwoot-Send-Message",
      "name": "HTTP - Chatwoot Send Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, -100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, sent: true, order_id: $('Code - Validate Payload').item.json.order_id, conversation_id: $('Code - Validate Payload').item.json.conversation_id, event_type: $('Code - Validate Payload').item.json.event_type } }}",
        "options": {}
      },
      "id": "Respond-Success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, -100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, sent: false, errors: $json.errors, order_id: $json.order_id, conversation_id: $json.conversation_id, event_type: $json.event_type } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "Respond-Invalid",
      "name": "Respond - Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 120]
    }
  ],
  "connections": {
    "Webhook - Order Notification": {
      "main": [
        [
          {
            "node": "Code - Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate Payload": {
      "main": [
        [
          {
            "node": "IF - Valid Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Valid Payload": {
      "main": [
        [
          {
            "node": "HTTP - Chatwoot Send Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Chatwoot Send Message": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "phase-1-9-draft",
  "triggerCount": 0,
  "tags": []
}
